<div class="overlay"></div>
          
<div class="masthead">
               
    <div class="masthead-bg"></div>
               
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
    
                <div class="masthead-content text-white py-5 py-md-0">
                    <br>
                    <strong>
                        <li >Need an apartment?</li>
                        <li >Looking for a roommate?</li>
                        <li>Need a shared ride?</li>
                        <li>Wanna buy / sell a textbook?</li></strong>    
                        <br>
                        <h3>Welcome to #collegeHACKS</h3> 
                        <p>Here you can find a roommate or an apartment, look for a shared ride and textbooks.</p>
                        <p>Skim the list of roommates, rides or textbooks to find anything of interest.</p>
                        <p>Or simply make a post for a roommate / apartment, a shared ride or to sell a textbook.</p>             
                    </div>                   
                </div>        
            </div>            
        </div>
          
    </div>
         
    
    <div class="social-icons">
        
        <ul class="list-unstyled text-center mb-0">
    
            <!-- <li class="list-unstyled-item">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </li> -->
        </ul>
        
    </div>
    

    
