

<form [formGroup]='form' #myForm = "ngForm" 
(ngSubmit)= "onSubmit(form.value, myForm)">

    <div class="container">
        <div class="card">
            <div class="row">
                <div class="card col-sm-4" style="left:15%;">
                    <h1 class="text-center">Ride Information</h1> 
                        
                    <!-- Address -->
                    <h5>Starting Address*</h5>
            
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="start_street">Street* </label>
                            <input type="text" class="form-control" formControlName='start_street' #start_street required >            
                        </div>

                        <div class="form-group col-md-6">
                            <label for="start_city">City*</label>
                            <input type="text" class="form-control" formControlName='start_city' #start_city required>
                        </div>
                    </div>
                    

                    <div class="row">
                        
                        <div class="form-group col-md-6">
                            <label for="start_state">State*</label>
                            <input type="text" class="form-control" formControlName='start_state' #start_state required>
                        </div>
                            
                        <div class="form-group col-md-6">
                            <label for="start_zip">Zip*</label>
                            <input type="number" class="form-control" formControlName='start_zip' #start_zip required>
                        </div>
                    </div>
                
                    
                    <h5>Destination*</h5>    
                    
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="dest_street">Street* </label>
                            <input type="text" class="form-control" formControlName='dest_street' #dest_street required >            
                        </div>
        
                        <div class="form-group col-md-6">
                            <label for="dest_city">City*</label>
                            <input type="text" class="form-control" formControlName='dest_city' #dest_city required>
                        </div>
                    </div>
                            
        
                    <div class="row">
                        
                        <div class="form-group col-md-6">
                            <label for="dest_state">State*</label>
                            <input type="text" class="form-control" formControlName='dest_state' #dest_state required>
                        </div>
                            
                        <div class="form-group col-md-6">
                            <label for="dest_zip">Zip*</label>
                            <input type="number" class="form-control" formControlName='dest_zip' #dest_zip required>
                        </div>
                    </div>

                    <!-- Date and Time -->
    
                    <div class="form-group">
                        <label for="date">Date*  </label>
                        <div class="input-group">    
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                  ngbDatepicker #date="ngbDatepicker" formControlName='date' required>
                            <button class="input-group-addon" (click)="date.toggle()" type="button" style="cursor: pointer;">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="time">Time* </label>  
                        <input type="text" class="form-control" formControlName='time' #time required>
                    </div>
                  

                </div>
                
                <!-- Contant information -->
                <div class="card col-sm-4" style="left: 18%;">
                    <h1 class="text-center">Contact Information</h1>
                    
                    <div class="form-group">
                        <label for="name">Name* </label>
                        <input type="text" class="form-control" formControlName='name' #name required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email* </label>
                        <input type="email" class="form-control" formControlName='email' #email required>
                    </div>

                    <div class="form-group">
                        <label for="phone" style="color:black;">Phone </label>
                        <input type="number" class="form-control" placeholder="Optional" formControlName='phone' #phone>
                    </div>

                    <div class="text-center" style="padding-top: 10%;">
                        <button type="submit" class="btn btn-primary btn-lg">
                            Submit  
                        </button>
                        <button type="reset" class="btn btn-primary btn-lg">
                            Cancel  
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>





