
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container">
  <div class="each_post">
    <button class="btn btn-warning btn-lg"> 
      <a [routerLink]="['/add-ride']" class="each-button">
        <i class="fa fa-car" aria-hidden="true"></i> 
        Need a Ride
      </a>
    </button>
  </div>
  <br>
  
  <div>
    <button class="btn btn-warning btn-lg" >
        <a [routerLink]="['/need-roommate']" class="each-button">
          <i class="fa fa-user" aria-hidden="true"></i>  
          Need an Apartment
        </a>
    </button>
  </div>
  <br>
  
  <div>
    <button class="btn btn-warning btn-lg">
      <a [routerLink]="['/need-textbook']" class="each-button">
        <i class="fa fa-book" aria-hidden="true"></i>  
        Sell a Textbook
      </a>
    </button>
  </div>
</div>  
